[user]
  name = Juan Peri
  email = eternoperegrino@gmail.com
	signingkey = 37D50ECCF189A98F
[core]
  excludesfile = ~/.gitignore.global
  editor = nvim
  autocrlf = input
  preloadindex = true
[push]
  default = simple
[alias]
  lol = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --all
  co = checkout
  st = status -sb
  dlog = log --pretty=format:'%Cred%h%Creset (%C(bold blue)<%an>%Creset) %s' --graph origin/master...origin/develop
  ignored = !git ls-files -v | grep "^[[:lower:]]"
[color]
  ui = true
[branch]
  autosetuprebase = always
[include]
  path = ./.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[rerere]
	enabled = true
