[user]
  name = Juan Peri
  email = eternoperegrino@gmail.com
[core]
  excludesfile = ~/.gitignore.global
  editor = nvim
  autocrlf = input
  preloadindex = true
[push]
  default = simple
[alias]
  lol = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
  co = checkout
  st = status -sb
  dlog = log --pretty=format:'%h (%an) %s' --graph master...develop
[color]
  ui = true
[branch]
  autosetuprebase = always
[include]
  path = ./.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
