[user]
  name = Juan Peri
  email = eternoperegrino@gmail.com
	signingkey = 37D50ECCF189A98F
[core]
  excludesfile = ~/.gitignore.global
  editor = nvim
  autocrlf = input
  preloadindex = true
[push]
  default = simple
[alias]
  lol = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --all
  lom = log --graph --pretty='%Cred%h%Creset %Cgreen(%ci)%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit origin/master
  co = checkout
  st = status -sb
  dlog = log --pretty=format:'%Cred%h%Creset (%C(bold blue)<%an>%Creset) %s' --graph origin/master...origin/develop
  ignored = !git ls-files -v | grep "^[[:lower:]]"
	delete-squashed = "!f() { local targetBranch=${1:-master} && git checkout -q $targetBranch && git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d && git for-each-ref refs/heads/ \"--format=%(refname:short)\" | while read branch; do mergeBase=$(git merge-base $targetBranch $branch) && [[ $(git cherry $targetBranch $(git commit-tree $(git rev-parse $branch^{tree}) -p $mergeBase -m _)) == \"-\"* ]] && git branch -D $branch; done; }; f"
[color]
  ui = true
[branch]
  autosetuprebase = always
[include]
  path = ./.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[rerere]
	enabled = true
[init]
	defaultBranch = main
